// $theme: (
//   "primary": hsl(202, 88%, 48%),
//   "green": hsl(95, 100%, 38%),
//   "light-peach": hsl(33, 100%, 85%),
//   "peach": hsl(33, 98%, 75%),
//   "red": hsl(350, 100%, 64%),
//   "background": hsla(216, 20%, 95%, 1),
// );

// $grays: (
//   "1": hsl(0, 0%, 100%),
//   "2": hsl(0, 0%, 98%),
//   "3": hsl(0, 0%, 96%),
//   "4": hsl(0, 0%, 94%),
//   "5": hsl(0, 0%, 85%),
//   "6": hsl(0, 0%, 75%),
//   "7": hsl(0, 0%, 55%),
//   "8": hsl(0, 0%, 35%),
//   "9": hsl(0, 0%, 26%),
//   "10": hsl(0, 0%, 15%),
//   "11": hsl(0, 0%, 12%),
//   "12": hsl(0, 0%, 8%),
//   "13": hsl(0, 0%, 0%),
// );

$frontend-mentor: (
  "1": hsla(220, 13%, 13%, 1),
  "2": hsla(0, 0%, 100%, 1),
);

$red: (
  "1": hsla(26, 100%, 55%, 1),
);

$gray: (
  "1": hsla(220, 14%, 75%, 1),
  "2": hsla(220, 9%, 45%, 1),
  "3": hsla(220, 59%, 98%, 1),
);

$white: (
  "1": hsla(0, 0%, 100%, 1),
);

$black: (
  "1": hsla(220, 13%, 13%, 1),
);

$body-ff: "Roboto", sans-serif;
$headings-ff: "Kumbh Sans", sans-serif;
